* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width:100%;
  height: 50px;
  background-color: #FF9A4B;
}

main{
  width:100%;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.step-box{
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: #EEEEEE;
}
.step-count{
  display: inline-block;
  color: #FFF;
  background-color: #FF9A4B;
  position: absolute;
}

.step-img{
  height: 150px;
  width: 280px;
  background-position: center;
}

.footer{
  width:100%;
  height: 50px;
  background-color: #AAAAAA;
}